<!-- /src/views/reset-password.handlebars -->

<h2>Restablecer tu contraseña</h2>
<form action="/api/sessions/reset-password" method="POST">
  <input type="hidden" name="token" value="{{token}}" />
  <label>Nueva Contraseña:</label>
  <input type="password" name="newPassword" required />
  <button type="submit">Guardar Contraseña</button>
</form>
